<div class="category">
  <div class="bird--header-create">
    <div class="bird--header-create--detail"></div>

    <h1>Criar Categoria</h1>
    <p>Por favor, preencha os campos abaixo:</p>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="bird--input">
      <ion-icon name="bookmark-outline"></ion-icon>
      <input formControlName="name" placeholder="Nome da categoria" type="text">
    </div>

    <div class="category--list">
      <ng-container *ngFor="let colorItem of listColors; let i = index">
        <div class="category--item--container"
             (click)="formGroup.controls.colorIndex.setValue(i)">

          <div [style.background-color]="colorItem.color"
               [class.category--item--selected]="formGroup.controls.colorIndex.value === i"
               class="category--item ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="category--buttons">
      <button [routerLink]="['/main/categories']" class="bird--back-button ion-activatable">

        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="assets/images/left-arrow.svg"></ion-icon>
      </button>
      <button class="bird--send-button ion-activatable"
              [disabled]="formGroup.status === 'INVALID' || isSendingForm"
              type="submit">
        <ion-ripple-effect></ion-ripple-effect>
        <span>Criar</span>
        <ion-icon src="assets/images/right-arrow-white.svg"></ion-icon>
      </button>
    </div>
  </form>
</div>
