<div class="category ion-activatable"
     [style.background-color]="content.color">
  <ion-ripple-effect></ion-ripple-effect>

  <h3 class="bird--nowrap">{{ content.name }}</h3>

  <ion-img class="category--bird-image-0" src="assets/images/bird_0.png"></ion-img>
  <ion-img class="category--bird-image-1" src="assets/images/bird_1.png"></ion-img>
  <ion-img class="category--bird-image-2" src="assets/images/bird_2.png"></ion-img>
  <ion-img class="category--bird-image-3" src="assets/images/bird_3.png"></ion-img>
</div>
