.comment {
  background: var(--bird-dark);
  box-shadow: 0 1px 14px #19282F;
  border-radius: 25px;
  padding: 1.6rem;

  display: flex;
  flex-direction: column;

  min-width: 100%;

  &--head {
    display: flex;
    align-items: center;

    &--avatar {
      height: 4.8rem;
      width: 4.8rem;
      border-radius: 50%;
      padding: 1.2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 2rem;
      }
    }

    &--person {
      display: flex;
      flex-direction: column;
      padding: 0 .8rem;
      width: calc(100% - 4.8rem);

      h2 {
        margin-top: 0;
        color: var(--bird-light);
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: .2rem;
        max-width: 100%;
      }

      time {
        color: var(--bird-dark-contrast);
        font-size: 1.4rem;
      }
    }
  }

  &--body {
    margin-top: .8rem;

    p, span {
      font-size: 1.4rem;
    }

    p {
      color: var(--bird-light);
      margin: 0;
      text-align: justify;
      white-space: pre-line;
    }

    span {
      color: var(--bird-primary);
      margin-top: .8rem;
      font-weight: bold;
      display: block;
      max-width: 100%;
    }
  }
}
