<div class="main">
  <div class="main--body">
    <router-outlet></router-outlet>
  </div>
  <div class="main--footer">
    <div class="main--footer--icon ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon src="../../assets/images/categories_icon.svg"></ion-icon>
    </div>
    <div class="main--footer--icon ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon src="../../assets/images/all_comments.svg"></ion-icon>
    </div>
    <div class="main--footer--icon ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon src="../../assets/images/my_comments.svg"></ion-icon>
    </div>
  </div>
</div>
