.bird--add-item {
  border: 2px dashed var(--bird-primary-dark);
  border-radius: 25px;
  padding: 1.6rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  position: relative;
  overflow: hidden;

  ion-icon {
    font-size: 5rem;
    margin-right: 1rem;
  }

  p {
    font-size: 1.4rem;
    color: var(--bird-primary);
    font-weight: bold;
    text-align: center;
  }
}

.bird--back-button {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--bird-primary-dark);
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 1.6rem;
  }
}
