.categories {
  padding: 2.4rem;
  display: flex;
  flex-wrap: wrap;

  &--item {
    width: calc(50% - 1.2rem);
    margin-bottom: 2.4rem;

    &:nth-child(2n) {
      margin-right: 2.4rem;
    }

    &:first-child {
      width: 100%;
    }

    bird-category-item {
      width: 100%;
    }
  }

  &--add-item {
    border: 2px dashed var(--bird-primary-dark);
    border-radius: 25px;
    padding: 1.6rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    position: relative;
    overflow: hidden;

    ion-icon {
      font-size: 5rem;
    }

    p {
      font-size: 1.4rem;
      color: var(--bird-primary);
      font-weight: bold;
      text-align: center;
    }
  }
}
