<div class="comments" (scroll)="onScroll($event)">
  <button routerLink="/main/categories" class="bird--back-button ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon src="assets/images/left-arrow.svg"></ion-icon>
  </button>
  <div [routerLink]="['/main/categories', categoryId, 'comment']" class="bird--add-item ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon src="assets/images/add_icon.svg"></ion-icon>
    <p>Adicionar novo comentário</p>
  </div>
  <ng-container *ngFor="let comment of listComments; trackBy: trackById">
    <bird-comment-item [content]="comment"></bird-comment-item>
  </ng-container>
</div>
